body {
  position: relative;
}

main {
  padding: 25px;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar {
  margin-bottom: 80px;
}

.navbar-nav .nav-link .active {
  color: white;
}

.navbar-toggler {
  border: 0;
}

.deskNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.nav-item .nav-link {
  padding: 1px;
  place-self: center;
  text-transform: uppercase;
  font-size: 1.3rem;
  color: white;
}

.deskList {
  display: none;
}

.nav-item .active {
  border: 2px solid white;
  padding: 10px 95px;
  border-radius: 5px;
}

.nav-item .nav-link {
  color: white;
}

.social {
  position: absolute;
  place-self: center;
  bottom: 0;
}

.social img {
  margin: 20px;
}

.offcanvas {
  background-color: hsla(271, 40%, 35%, 0.376);
  backdrop-filter: blur(5px);
  color: white;
}

.firstTab {
  margin-bottom: 50px;
}

.simpleBookmark {
  position: relative;
}

.shape {
  display: flex;
  width: clamp(15rem, 35vw, 50rem);
  height: clamp(10rem, 30vw, 20rem);
  transform: translateY(-50%);
  border-top-left-radius: 110px;
  border-bottom-left-radius: 110px;
  background: rgb(92, 92, 234);
  position: absolute;
  right: -2.8%;
  z-index: -1;
  top: 19%;
}

.hero {
  width: 100%;
}

.hero-p {
  width: 100%;
  text-align: center;
  padding: 15px;
  line-height: 30px;
}

.img-1 {
  width: 100%;
  padding: 25px;
}

.get-it {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.get-it .active {
  background-color: hsl(240, 94%, 57%);
  color: white;
}

.get-it .active:hover {
  background-color: white;
  border: 1px solid hsl(240, 94%, 57%);
  color: hsl(240, 94%, 57%);
}

.getit {
  padding: 7px 9px;
  border: none;
  margin: 2px;
  border-radius: 5px;
}

.getit:hover {
  background-color: white;
  cursor: pointer;
  border: 1px solid black;
  color: black;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.card {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.card button {
  padding: 15px;
  width: 100%;
  border: none;
  margin: 3px;
  border-radius: 5px;
  background-color: hsl(240, 81%, 58%);
  color: white;
}

.card button:hover {
  border: 1px solid hsl(240, 81%, 58%);
  color: hsl(240, 81%, 58%);
  background-color: white;
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
  line-height: 30px;
}

.featurelist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 80px;
}

.featurelist1 {
  cursor: pointer;
  width: 200px;
}

.featurelist .active {
  border-bottom: 2px solid orangered;
  color: orangered;
}

.secondTab {
  margin-bottom: 50px;
  position: relative;
}

.secondTab img{
  width: 100%;
}

.shape2 {
  display: flex;
  width: clamp(15rem, 35vw, 50rem);
  height: clamp(10rem, 30vw, 20rem);
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
  background: rgb(92, 92, 234);
  position: absolute;
  left: 0;
  z-index: -1;
  top: 28%;
  left: -15%;
}

.bookmark {
  margin-bottom: 80px;
  font-size: 1.1rem;
  text-align: center;
  padding: 20px;
  line-height: 30px;
}

.simpleBookmark{
  position: relative;
}

.extention {
  padding: 20px;
  text-align: center;
  line-height: 30px;
}

.dots {
  margin: 15px;
}

.img {
  width: 100px;
  margin-bottom: 50px;
}

.faq {
  text-align: center;
  line-height: 30px;
  margin: 15px 20px;
}

.accordions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.accordion p {
  margin: 10px;
}

.accordion img {
  width: 13px;
  height: 13px;
  cursor: pointer;
}

.accordions .active {
  color: orangered;
}

.accordion:hover {
  color: orangered;
}

.arrow {
  transition: transform 0.5s ease;
}

.close {
  transform: rotate(180deg);
}

.answer {
  width: 300px;
}

.mores {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
}

.more {
  margin-bottom: 90px;
  padding: 15px 23px;
  border: none;
  background-color: hsl(240, 81%, 65%);
  color: white;
  border-radius: 5px;
}

.style {
  display: none;
}

input {
  width: 90vw;
  padding: 15px;
  border-radius: 5px;
  border: none;
}

form {
  padding: 45px 10px;
  width: 100%;
  background-color: hsl(240, 90%, 64%);
  color: white;
  text-align: center;
}

form span {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 0.9rem;
  margin-bottom: 30px;
}

form h1 {
  width: 100%;
  letter-spacing: 3px;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 1.3rem;
}

form button {
  margin-top: 10px;
  width: 90vw;
  padding: 15px;
  background-color: hsl(0, 82%, 65%);
  border: none;
  color: white;
  border-radius: 5px;
}

footer {
  background-color: hsl(240, 61%, 19%);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

footer ul {
  list-style: none;
  text-align: center;
  padding: 10px;
}

footer ul li {
  margin: 25px;
  text-transform: uppercase;
}

footer .socials img {
  margin: 13px;
}

@media (min-width: 760px) {
  .deskNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 60px;
  }

  .offcanvas{
    display: none;
  }

  .navbar-brand {
    padding-top: 0;
  }

  .deskList {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 20px;
  }

  li {
    margin: 0 25px;
    cursor: pointer;
    text-transform: uppercase;
  }

  li:hover {
    color: orangered;
  }

  ul .active {
    background-color: orangered;
    padding: 5px 35px;
    border-radius: 5px;
    color: white;
  }

  ul .active:hover {
    border: 1px solid orangered;
    background-color: white;
    color: orangered;
  }

  .navbar-toggler {
    display: none;
  }

  .hamburger-menu {
    display: none;
  }

  main {
    place-items: center;
  }

  .simpleBookmark {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-p {
    grid-row: 1/2;
    text-align: left;
  }

  .get-it {
    justify-content: left;
  }

  .feature {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .featurelist {
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gray;
  }

  .featurelist1 {
    width: 100%;
    cursor: pointer;
  }

  .featurelist1:hover {
    color: orangered;
  }

  .simpleBookmark2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
  }

  .secondTab {
    margin-top: -50px;
    margin-bottom: 100px;
  }

  .style {
    display: flex;
  }
  .bookmark {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .shape {
    top: 60%;
  }
  .shape2 {
    top: 15%;
  }

  .extention {
    width: 500px;
  }

  .cards {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .card {
    margin: 10px;
  }

  .card h1 {
    font-size: 1.7rem;
  }

  .card:first-child {
    margin-top: -80px;
  }

  .card:nth-child(2) {
    margin-top: 0;
  }

  .card:last-child {
    margin-top: 80px;
  }

  .faq {
    width: 470px;
  }

  .accordion {
    width: 470px;
  }

  .answer{
    width: 450px;
  }

  form {
    min-width: 98.5vw;
    width: 100%;
  }

  input {
    width: 50vw;
  }

  form button {
    width: 30vw;
    margin: 10px;
  }

  footer {
    flex-direction: row;
    padding: 3px;
    width: 100%;
    justify-content: space-around;
  }

  footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  footer ul li {
    margin: 0 10px;
    padding: 5px 10px;
  }
}
